<div class="d-flex position-relative justify-content-between">
    <h2>@ViewBag.Title</h2>
    <p>
        <a href=@Url.Action("Create") class="btn btn-success btn-lg"><i class="fas fa-plus fa-lg m-1"></i> New </a>
    </p>
</div>