<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <button type="button" class="btn btn-dark navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fas fa-bars"></i>
    </button>
    <a href="/" class="navbar-brand">
        Rocket Server
    </a>    
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a href="/teams" class="nav-link">Teams <i class="fas fa-users fa-lg"></i></a></li>
            <li class="nav-item"><a href="/tournaments" class="nav-link">Tournaments <i class="far fa-award fa-lg"></i></a></li>
        </ul>
    </div>
    @Html.Partial("_LoginPartial")
</nav>